<div class = "container riders landing ">
  <h2 class="text-center">Messages</h2>
  <div class ="text-center">
    <ul>
      <% @messages.each do |message| %>
        <% if message.body %>

            <p><span class="text-info"><%= message.user.last_name %></span>: <span class="text-black"> <%= message.body %></span></p>


        <% end %>
      <% end %>
    </ul>

    <%= form_for [@conversation, @message] do |f| %>
      <div class="field">
        <%= f.text_area :body, placeholder: "Your message" %>
      </div>

      <%= f.submit "Send" %>
    <% end %>
    <%= link_to 'Show', requests_path %>
  </div>

</div>
