
<div class="container riders">
  <p id="notice"><%= notice %></p>

  <h3 class="text-center text-warning">My own Requests</h3>

  <div class ="row-padding" id="demo">
  <table class="table table-bordered table-hover table-condensed ">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Address</th>
          <th>Requet_type</th>
          <th>Number of messages</th>
          <th>Date of creation</th>
          <th>Action</th>


        </tr>
      </thead>

      <tbody>

            <% @requests.each do |request| %>
              <% if request.user == current_user %>
            <tr>
               <td><%= request.id %></td>
                <td><%= request.title %></td>
                 <td><%= request.address %></td>
                 <td><%= request.request_type %></td>
                 <td>  <ul>
                     <% @messages.each do |message| %>
                       <% if message.body %>

                           <p><%= message.user.last_name %></p>


                       <% end %>
                     <% end %>
                   </ul></td>
                 <td><%= request.created_at%></td>


                 <td>


                    <div class="btn-group btn-group-sm">

                    <% if request.created_at < DateTime.now - (1.0) ||request.answers_count == 5 %>
                    <%= link_to 'Republish', edit_request_path(request),class: "btn btn-warning" %>
                     <%= link_to 'destroy', request ,class: "btn btn-danger",method: :delete, data: { confirm: 'are you sure?'} %>
                    <%= link_to 'Show', @request, class: "btn btn-info" %>
                    <% else %>
                    <button class="btn-success">Active</button>
                    <%= link_to 'Show', request_path(request), class: "btn btn-info" %>

                  <% end %>
                 </td>
          </tr>
<% end %>
        <% end %>
      </tbody>
    </table>
  </div>


  <%= render ("layouts/stats") %>
</div>
