<p id="notice"><%= notice %></p>

<div class="container riders landing">
  <h2 class="requesttitle">Request no: <%= @request.id %></h2>
<p
<% if current_user == @request.user %>
<p class="text-warning">You can not volunteer on your own request </p>
<% end %>
  <strong class="text-info"> Title:</strong>
  <%= @request.title %>
</p>
<p>
  <strong class="text-info"> Description:</strong>
  <%= @request.description %>
</p>
<p>
  <strong class="text-info"> Address:</strong>
  <%= @request.address %>
</p>
<p>
  <strong class="text-info"> Type:</strong>
  <%= @request.request_type %>
</p>
<p>
  <p>
    <strong class="text-info"> Number of messages:</strong>
    <%= @request.conversations_count%>
  </p>
  <p>
    <strong class="text-info">Date of creation:</strong>
     <%= @request.created_at%>
  </p>
  <strong class="text-info"> By:</strong>
<%= @request.user.last_name %>
</p>
      <% if current_user == @request.user %>

      <%= simple_form_for @request, url: republish_request_path do |f| %>

        <%= f.button :submit %>
        <div class="col-md-8">
            <h2>Messages</h2>

       <% @request.conversations.each do |conversation| %>

        <% if conversation.sender_id == current_user.id ? conversation.recipient_id : conversation.sender_id %>
        <% recipient = User.find(conversation.sender_id) %>
        <% else %>
            <% recipient = User.find(conversation.recipient_id) %>
        <% end %>
        <div class="conversations text-warning">
          <p><%= link_to recipient.last_name,   conversation_messages_path(conversation)%></p>
        </div>

      <% end %>
    </div>
      <% end %>

      <% elsif  @request.volunteered_by?(current_user)%>
        <p class="text-warning">Thank you ! You have already sent a message to the requester owner</p>
      <% else %>
      <h6> 1. Confirm if you want to help </h6>


          <%= simple_form_for @request, url: volunteer_request_path do |f| %>
           <%= link_to "Send Message", conversations_path(request_id: @request.id,sender_id: current_user.id,recipient_id: @request.user_id), method: :post %>


          <% end %>




      <% end %>
       <%= link_to 'Back to Map', requests_path %>
</div>
