<p id="notice"><%= notice %></p>

<div class="container ">
  <h2 class="requesttitle">Request no: <%= @request.id %></h2>
<p
<% if current_user == @request.user %>
<p class="text-warning">You can not volunteer on your own request </p>
<% end %>
  <strong> Title:</strong>
  <%= @request.title %>
</p>
<p>
  <strong> Description:</strong>
  <%= @request.description %>
</p>
<p>
  <strong> Address:</strong>
  <%= @request.address %>
</p>
<p>
  <strong> Type:</strong>
  <%= @request.request_type %>
</p>
<p>
  <p>
    <strong> Number of messages:</strong>
    <%= @request.answers_count %>
  </p>
  <p>
    <strong>Date of creation:</strong>
     <%= @request.created_at%>
  </p>
  <strong> By:</strong>
<%= @request.user.last_name %>
</p>
      <% if current_user == @request.user %>

      <%= simple_form_for @request, url: incr_answers_count_request_path do |f| %>
        <%= f.radio_button :created_at,DateTime.now()  %>Republish<br/><br/>
        <%= f.button :submit %>
      <% end %>

      <% else %>
      <h6> 1. Confirm if you want to help </h6>


          <%= simple_form_for @request, url: incr_answers_count_request_path do |f| %>

            <%= f.radio_button :answers_count, 1 %>I can help<br/><br/>
          <%= f.button :submit, 'confirm'%>
          <% end %>
          <h6> 2. Send message to the request Owner</h6>
          <%= link_to "Volunteer", conversations_path(sender_id: current_user,recipient_id: @request.user.id), method: :post %>



      <% end %>
</div>
