<p id="notice"><%= notice %></p>

<div class="container ">
  <h2 class="requesttitle">Request no: <%= @request.id %></h2>
<p
<% if current_user == @request.user %>
<p class="text-warning">You can not volunteer on your own request </p>
<% end %>
  <strong> Title:</strong>
  <%= @request.title %>
</p>
<p>
  <strong> Description:</strong>
  <%= @request.description %>
</p>
<p>
  <strong> Address:</strong>
  <%= @request.address %>
</p>
<p>
  <strong> Type:</strong>
  <%= @request.request_type %>
</p>
<p>
  <p>
    <strong> Number of messages:</strong>
    <%= @request.answers_count %>
  </p>
  <p>
    <strong>Date of creation:</strong>
     <%= @request.created_at%>
  </p>
  <strong> By:</strong>
<%= @request.user.last_name %>
</p>
      <% if current_user == @request.user %>

      <%= simple_form_for @request, url: republish_request_path do |f| %>
        <%= f.radio_button :created_at,DateTime.now()  %>Republish<br/><br/>
        <%= f.button :submit %>
        <div class="col-md-8">
            <h2>Messages</h2>
       <% @request.conversations.each do |conversation| %>

        <% if conversation.sender_id == current_user.id ? conversation.recipient_id : conversation.sender_id %>
        <% recipient = User.find(conversation.sender_id) %>
        <% else %>
            <% recipient = User.find(conversation.recipient_id) %>
        <% end %>
        <div class="conversations">
          <%= link_to recipient.last_name,   conversation_messages_path(conversation)%>
        </div>


      <% end %>
    </div>
      <% end %>

      <% elsif  @request.volunteered_by?(current_user)%>
        <p class="text-info">Thank you ! You have already sent a message to the requester owner</p>
      <% else %>
      <h6> 1. Confirm if you want to help </h6>


          <%= simple_form_for @request, url: volunteer_request_path do |f| %>
           <%= link_to "Send Message", conversations_path(request_id: @request.id,sender_id: current_user.id,recipient_id: @request.user_id), method: :post %>

        
          <% end %>




      <% end %>
</div>
